.no-history {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2rem;
    color: gray;
  }
  
  ion-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  