<ion-header>
  <ion-toolbar>
    <ion-title>Purchase History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="purchaseHistory.length > 0; else noHistory">
    <ion-item *ngFor="let item of purchaseHistory">
      <ion-thumbnail slot="start">
        <img src="assets/default-product.png" alt="Product Image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Price: ${{ item.price }}</p>
        <p>Date Purchased: {{ item.datePurchased | date: 'medium' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noHistory>
    <div class="no-history">
      <p>No purchase history found.</p>
    </div>
  </ng-template>
</ion-content>
