<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="error">
      Name is required.
    </div>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
      Valid email is required.
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
      Password is required.
    </div>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="error">
      Confirm Password must match Password.
    </div>

    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Register</ion-button>
  </form>
</ion-content>
